.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex-grow: 1;
    padding: 6rem 0 0;
}

.page-template .site-content,
.author-template .site-content {
    padding-top: 0;
}

@media (max-width: 767px) {
    .site-content {
        padding: 3rem 0 0;
    }
}
